Repository pure-js/local-microblogging-client, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @domain/core, test, source, AnyChange

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - '*'

# Add '@domain/core' label to any change within the 'core' package
'@domain/core':
  - package/core/**

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.js

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - any: ['src/**', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
frontend:
  - any: ['src/**/*.js']
    all: ['!src/main.js']

# Add the 'AnyChange' label to any changes within the entire repository if the 'dot' option is set to 'false'
AnyChange:
  - '**'
  - '**/.*'
  - '**/.*/**'
  - '**/.*/**/.*'
# Add the 'AnyChange' label to any changes within the entire repository if the 'dot' option is set to 'true'
# AnyChange:
# - '**'

build: use react swc plugin
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: repo, AnyChange

build: use react swc plugin (#280)
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: repo, AnyChange

chore: delete unsupported files
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/local-microblogging-client.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/npm_i.xml
  .idea/runConfigurations/npm_start.xml
  .idea/startup.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
Labels: AnyChange

docs: add PostPreview story
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/components/PostPreview.stories.ts
  src/components/PostPreview.tsx
  src/pages/index.tsx
Labels: repo, source, AnyChange

style: fix eslint errors
  src/components/PostPreview.tsx
  src/pages/index.tsx
Labels: source, AnyChange

docs: add PostPreview story (#281)
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/local-microblogging-client.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/npm_i.xml
  .idea/runConfigurations/npm_start.xml
  .idea/startup.xml
  .idea/vcs.xml
  .idea/watcherTasks.xml
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/components/PostPreview.stories.ts
  src/components/PostPreview.tsx
  src/pages/index.tsx
Labels: repo, source, AnyChange

ci: lighthouse lower the score
  lighthouserc.yml
Labels: repo, AnyChange

chore: add launch script
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  package.json
Labels: repo, AnyChange

chore: add launch script (#285)
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  README.md
  package.json
Labels: repo, AnyChange

chore: dont run server on start
  .vscode/tasks.json
  vite.config.ts
Labels: repo, AnyChange

build(dev-deps): add chromatic
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

build(dev-deps): add chromatic (#286)
  .github/dependabot.yml
  .vscode/tasks.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: repo, AnyChange

ci: add cromatic pipeline
  .github/workflows/chromatic.yml
Labels: AnyChange

ci: enable dependabot auto merge
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Labels: AnyChange

ci: enable dependabot auto merge (#293)
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Labels: AnyChange

fix: provide disableTelemetry for storybook
  .storybook/main.ts
Labels: AnyChange

fix(Storybook): add enableCrashReports option
  .storybook/main.ts
Labels: AnyChange

build(deps-dev): bump storybook version
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

style: brush up the project
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
  src/components/Alert.tsx
  src/components/App.tsx
  src/components/Breadcrumbs.tsx
  src/components/Header.tsx
  src/components/Input.tsx
  src/components/PostForm.tsx
  src/components/PostPreview.tsx
  src/components/Search.tsx
  src/index.tsx
  src/mocks/handlers.ts
  src/pages/[all].tsx
  src/pages/index.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[userName].tsx
  src/services/getStories.ts
  src/services/timestampToLocaleString.ts
Labels: repo, source, AnyChange

style: apply pretier & ESlint
  .eslintrc.yml
  .github/workflows/deploy-to-gh-pages.yml
  .github/workflows/format.yml
  .github/workflows/labeler.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/components/App.tsx
  src/components/PostForm.tsx
  src/index.tsx
  src/mocks/handlers.ts
  src/pages/index.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[userName].tsx
  src/services/getStories.ts
Labels: repo, source, AnyChange

style: apply prettier and some ESLint (#337)
  .eslintrc.yml
  .github/workflows/deploy-to-gh-pages.yml
  .github/workflows/format.yml
  .github/workflows/labeler.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/components/App.tsx
  src/components/PostForm.tsx
  src/index.tsx
  src/mocks/handlers.ts
  src/pages/index.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[userName].tsx
  src/services/getStories.ts
Labels: repo, source, AnyChange

build: bump vitest
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Labels: repo, AnyChange

chore: chnage job name
  .github/workflows/test.yml
Labels: AnyChange

build: bump Vitest (#341)
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
Labels: repo, AnyChange

ci: update github actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-to-gh-pages.yml
  .github/workflows/format.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

ci: update github actions (#385)
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-to-gh-pages.yml
  .github/workflows/format.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

build: bump vite and vitest
  .github/workflows/release-please.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

ci: bump lighthouse
  .github/workflows/lighthouse.yml
Labels: AnyChange

build: bump vite and vitest (#387)
  .github/workflows/lighthouse.yml
  .github/workflows/release-please.yml
  README.md
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

chore: change import alias
  .eslintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/components/App.tsx
  src/components/PostPreview.tsx
  src/index.tsx
  src/pages/index.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[userName].tsx
  tsconfig.json
  vite.config.ts
Labels: repo, source, AnyChange

style: fix linting issues
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
  src/pages/index.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[userName].tsx
Labels: repo, source, AnyChange

chore: apply prettier
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/new.tsx
Labels: source, AnyChange

style: kebabe case file convention
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
  src/components/App.tsx
  src/components/Input.stories.ts
  src/components/post-form.stories.ts
  src/components/post-form.tsx
  src/components/post-preview.stories.ts
  src/components/post-preview.tsx
  src/index.tsx
  src/pages/index.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[user-name].tsx
  src/services/get-stories.ts
  src/services/timestamp-to-locale-string.test.ts
  src/services/timestamp-to-locale-string.ts
Labels: repo, source, AnyChange

chore: mify case ignorance
  src/components/alert.tsx
  src/components/app.tsx
  src/components/breadcrumbs.tsx
  src/components/header.tsx
  src/components/input.stories.ts
  src/components/input.tsx
  src/components/search.tsx
Labels: source, AnyChange

chore: fix import
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
Labels: source, AnyChange

chore: change import alias (#391)
  .eslintrc.yml
  README.md
  package.json
  pnpm-lock.yaml
  src/components/alert.tsx
  src/components/app.tsx
  src/components/breadcrumbs.tsx
  src/components/header.tsx
  src/components/input.stories.ts
  src/components/input.tsx
  src/components/post-form.stories.ts
  src/components/post-form.tsx
  src/components/post-preview.stories.ts
  src/components/post-preview.tsx
  src/components/search.tsx
  src/index.tsx
  src/pages/index.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[user-name].tsx
  src/services/get-stories.ts
  src/services/timestamp-to-locale-string.test.ts
  src/services/timestamp-to-locale-string.ts
  tsconfig.json
  vite.config.ts
Labels: repo, source, AnyChange

style: get rid of non necessary async
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
  src/components/App.tsx
  src/components/Breadcrumbs.tsx
  src/components/app.tsx
  src/components/breadcrumbs.css.ts
  src/components/breadcrumbs.module.css
  src/components/breadcrumbs.tsx
  src/index.tsx
  src/mocks/handlers.ts
  src/pages/index.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/users/[user-name].tsx
  src/services/get-stories.ts
  vite.config.ts
Labels: repo, source, AnyChange

ci: use assertMatrix
  lighthouserc.yml
Labels: repo, AnyChange

Chore: change indentation
  lighthouserc.yml
Labels: repo, AnyChange

chore: disable a11y
  lighthouserc.yml
Labels: repo, AnyChange
