Repository pure-js/local-microblogging-client, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @domain/core, test, source, AnyChange

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - '*'

# Add '@domain/core' label to any change within the 'core' package
'@domain/core':
  - package/core/**

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.js

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - any: ['src/**', '!src/docs/*']

# Add 'frontend` label to any change to *.js files as long as the `main.js` hasn't changed
frontend:
  - any: ['src/**/*.js']
    all: ['!src/main.js']

# Add the 'AnyChange' label to any changes within the entire repository if the 'dot' option is set to 'false'
AnyChange:
  - '**'
  - '**/.*'
  - '**/.*/**'
  - '**/.*/**/.*'
# Add the 'AnyChange' label to any changes within the entire repository if the 'dot' option is set to 'true'
# AnyChange:
# - '**'

chore: get rid of unnecessary async (#392)
  .eslintrc.yml
  lighthouserc.yml
  package.json
  pnpm-lock.yaml
  src/components/App.tsx
  src/components/Breadcrumbs.tsx
  src/components/app.tsx
  src/components/breadcrumbs.css.ts
  src/components/breadcrumbs.module.css
  src/components/breadcrumbs.tsx
  src/index.tsx
  src/mocks/handlers.ts
  src/pages/index.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/users/[user-name].tsx
  src/services/get-stories.ts
  vite.config.ts
Labels: repo, source, AnyChange

chore: change classname order
  .prettierrc.yml
  package.json
  pnpm-lock.yaml
  src/components/Header.tsx
  src/components/Search.tsx
  src/components/header.tsx
  src/components/post-preview.tsx
  src/components/search.tsx
  src/pages/[all].tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[user-name].tsx
Labels: repo, source, AnyChange

chore: up eslint config
  .eslintrc.yml
Labels: repo, AnyChange

chore: classname order (#393)
  .eslintrc.yml
  .prettierrc.yml
  package.json
  pnpm-lock.yaml
  src/components/Header.tsx
  src/components/Search.tsx
  src/components/header.tsx
  src/components/post-preview.tsx
  src/components/search.tsx
  src/pages/[all].tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[user-name].tsx
Labels: repo, source, AnyChange

perf: use avif instead of png
  package.json
  pnpm-lock.yaml
  src/mocks/posts.json
  tailwind.config.cjs
  tsconfig.node.json
  vite.config.ts
Labels: repo, source, AnyChange

style: apply prettier
  src/components/Header.tsx
  src/components/header.tsx
  src/components/post-preview.tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/new.tsx
Labels: source, AnyChange

style: apply prettier
  src/components/post-preview.tsx
Labels: source, AnyChange

perf: use avif instead of png (#394)
  package.json
  pnpm-lock.yaml
  src/components/Header.tsx
  src/components/header.tsx
  src/components/post-preview.tsx
  src/mocks/posts.json
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/new.tsx
  tailwind.config.cjs
  tsconfig.node.json
  vite.config.ts
Labels: repo, source, AnyChange

chore: delete duplicated files
  src/components/Alert.tsx
  src/components/App.tsx
  src/components/Breadcrumbs.tsx
  src/components/Header.tsx
  src/components/Input.stories.ts
  src/components/Input.tsx
  src/components/Search.tsx
Labels: source, AnyChange

fix: status view
  .gitattributes
  README.md
  package.json
  pnpm-lock.yaml
  src/pages/posts/[postId]/edit.tsx
Labels: repo, source, AnyChange

fix: status view (#396)
  .gitattributes
  README.md
  package.json
  pnpm-lock.yaml
  src/pages/posts/[postId]/edit.tsx
Labels: repo, source, AnyChange

build: bump react router to v7
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  src/components/app.tsx
  src/components/breadcrumbs.tsx
  src/components/header.tsx
  src/components/post-preview.tsx
  src/index.tsx
  src/pages/[all].tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[user-name].tsx
Labels: repo, source, AnyChange

build: bump react router to v7 (#397)
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  src/components/app.tsx
  src/components/breadcrumbs.tsx
  src/components/header.tsx
  src/components/post-preview.tsx
  src/index.tsx
  src/pages/[all].tsx
  src/pages/posts/[postId]/edit.tsx
  src/pages/posts/[postId]/index.tsx
  src/pages/posts/new.tsx
  src/pages/users/[user-name].tsx
Labels: repo, source, AnyChange

build: bump vite to 6
  .zed/settings.json
  README.md
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

build: bump Vite to 6 (#403)
  .zed/settings.json
  README.md
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

chore: add ts build
  .gitignore
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

build: NX setup
  .gitignore
  .prettierignore
  README.md
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: repo, AnyChange

style: fix format
  nx.json
  package.json
Labels: repo, AnyChange

build: add NX to a build process (#406)
  .gitignore
  .prettierignore
  README.md
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: repo, AnyChange

chore: ts fixes
  .gitignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/layouts/base-layout.tsx
  tsconfig.json
  vite-env.d.ts
Labels: repo, source, AnyChange

ci: bump node version
  .github/workflows/deploy-to-gh-pages.yml
  .github/workflows/format.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
Labels: AnyChange

ci: bump node version (#408)
  .github/workflows/deploy-to-gh-pages.yml
  .github/workflows/format.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  .gitignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/layouts/base-layout.tsx
  tsconfig.json
  vite-env.d.ts
Labels: repo, source, AnyChange

chore: add ESLint React compiler rules
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

build: use ReactCompiler
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: repo, AnyChange

build: bump deps
  package.json
  pnpm-lock.yaml
Labels: repo, AnyChange

build: use ReactCompiler (#414)
  .eslintrc.yml
  package.json
  pnpm-lock.yaml
  vite.config.ts
Labels: repo, AnyChange

refactor: separate docs from the main app
  apps/client/components/alert.tsx
  apps/client/components/app.tsx
  apps/client/components/breadcrumbs.css.ts
  apps/client/components/breadcrumbs.tsx
  apps/client/components/header.tsx
  apps/client/components/input.stories.ts
  apps/client/components/input.tsx
  apps/client/components/post-form.stories.ts
  apps/client/components/post-form.tsx
  apps/client/components/post-preview.stories.ts
  apps/client/components/post-preview.tsx
  apps/client/components/search.tsx
  apps/client/index.css
  apps/client/index.tsx
  apps/client/layouts/base-layout.tsx
  apps/client/mocks/authors.json
  apps/client/mocks/browser.ts
  apps/client/mocks/handlers.ts
  apps/client/mocks/posts.json
  apps/client/news/amazon-scout.png
  apps/client/pages/[all].tsx
  apps/client/pages/index.tsx
  apps/client/pages/posts/[postId]/edit.stories.ts
  apps/client/pages/posts/[postId]/edit.tsx
  apps/client/pages/posts/[postId]/index.tsx
  apps/client/pages/posts/new.tsx
  apps/client/pages/users/[user-name].tsx
  apps/client/services/db.ts
  apps/client/services/get-stories.ts
  apps/client/services/timestamp-to-locale-string.test.ts
  apps/client/services/timestamp-to-locale-string.ts
  apps/client/stories/Introduction.mdx
  index.html
  package.json
  tsconfig.json
  vite.config.ts
Labels: repo, AnyChange
